<a href="https://colab.research.google.com/github/Rabab-Muhammad/01-SIMPLE-CALCULATOR/blob/main/Q3_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Methods Practice**

Tasks:
1. Create and Modify Lists

 o Create a list called fruits with the items: "apple", "banana", "orange"

 o Add "grape" to the end of the list using an appropriate method

 o Insert "mango" at position 2 in the list

 o Remove "banana" from the list

 o Print the final list

In [ ]:
# 1. Create and Modify Lists
fruits = ["apple","banana","orange"]
fruits.append("grape")
fruits.insert(2,"mango")
fruits.remove("banana")
print("Final Fruits List:",fruits)

Final Fruits List: ['apple', 'mango', 'orange', 'grape']

2. List Operations  

 o Create a list numbers with values: 10, 20, 30, 40, 50

 o Create a second list more_numbers with values: 60, 70, 80

 o Combine both lists into a new list called all_numbers

 o Make a copy of all_numbers called numbers_copy

 o Reverse the order of numbers_copy

 o Print both all_numbers and numbers_copy

In [ ]:
# 2. List Operations
numbers = [10,20,30,40,50]
more_numbers = [60,70,80]
all_numbers = numbers + more_numbers
numbers_copy = all_numbers.copy()
numbers_copy.reverse()
print("All Numbers:",all_numbers)
print("Numbers Copy:",numbers_copy)

All Numbers: [10, 20, 30, 40, 50, 60, 70, 80]
Numbers Copy: [80, 70, 60, 50, 40, 30, 20, 10]

3. Sorting and Counting  

 o Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74

 o Sort the list in ascending order

 o Sort the list in descending order

 o Count how many times 92 appears in the list

 o Find and print the highest and lowest scores

 o Print the sorted list

In [ ]:
# 3. Sorting and Counting
scores = [85,92,78,65,92,85,74]
ascending_scores = sorted(scores)
descending_scores = sorted(scores, reverse=True)
count_92 = scores.count(92)
highest_score = max(scores)
lowest_score = min(scores)
print("Ascending Scores:",ascending_scores)
print("Descending Scores:",descending_scores)
print("Count of 92:",count_92)
print("Highest Score:",highest_score)
print("Lowest Score:",lowest_score)

Ascending Scores: [65, 74, 78, 85, 85, 92, 92]
Descending Scores: [92, 92, 85, 85, 78, 74, 65]
Count of 92: 2
Highest Score: 92
Lowest Score: 65

4. List Manipulation  

 o Create a list letters with values: "a", "b", "c", "d", "e"

 o Use slicing to create a new list with only the first three letters

 o Use slicing to create another list with only the last two letters

 o Find and print the index of "c" in the list

 o Replace "d" with "z" in the original list
  
 o Print the modified list

In [ ]:
# 4. List Manipulation
letters = ["a","b","c","d","e"]
first_three_letters = letters[:3]
last_two_letters = letters[-2:]
index_c = letters.index("c")
letters[3] = "z"
print("First three Letters:",first_three_letters)
print("Last two Letters:",last_two_letters)
print("Index of 'c':",index_c)
print("Modified list:",letters)

First three Letters: ['a', 'b', 'c']
Last two Letters: ['d', 'e']
Index of 'c': 2
Modified list: ['a', 'b', 'c', 'z', 'e']

**Dictionary Methods Practice**

Tasks:
1. Create and Access Dictionaries  

 o Create a dictionary called student with these key-value pairs:  

  "name": "John"

  "age": 20

  "grade": "A"

  "courses": ["Math", "Science", "History"]

 o Print the student's name

 o Print the list of courses

 o Add a new key-value pair: "email": "john@example.com"

 o Print the entire dictionary

In [ ]:
# 1. Create and Access Dictionaries
student = {
    "name" : "John",
    "age" : 20,
    "grade" : "A",
    "courses" : ["Math","Science","History"]
}

print("Student's Name:",student["name"])
print("List of Courses:",student["courses"])
student["email"] = "john@example.com"
print("Updated Student Dictionary:",student)

Student's Name: John
List of Courses: ['Math', 'Science', 'History']
Updated Student Dictionary: {'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

2. Modify Dictionary Values

 o Change the student's age to 21

 o Add a new course "Computer Science" to the courses list

 o Update the grade to "A+"

 o Print the modified dictionary

In [ ]:
# 2. Modify Dictionary Values
student["age"] = 21
student["courses"].append("Computer Science")
student["grade"] = "A+"
print("Modified Student Dictionary:",student)

Modified Student Dictionary: {'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science', 'Computer Science'], 'email': 'john@example.com'}

3. Dictionary Operations  

 o Create a second dictionary student_address with these key-value pairs:  

  "street": "123 College Ave"

  "city": "New York"

  "zip": "10001"

 o Combine both dictionaries into a new dictionary called student_info

 o Remove the "zip" key from student_info

 o Check if "phone" exists in the dictionary

 o Print the final dictionary

In [ ]:
# 3. Dictionary Operations
student = {
    'name': 'John',
     'age': 21,
     'grade': 'A+',
     'courses': ['Math', 'Science', 'History', 'Computer Science'],
     'email': 'john@example.com'
     }

student_address = {
    "street" : "123 College Ave",
    "city" : "NewYork",
    "zip" : "10001"
}

student_info = {**student,**student_address}
student_info.pop("zip",None)
phone_exists = "phone" in student_info
print("Does 'phone' exist in student_info?",phone_exists)
print("Final Student Info:",student_info)

Does 'phone' exist in student_info? False
Final Student Info: {'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science'], 'email': 'john@example.com', 'street': '123 College Ave', 'city': 'NewYork'}

4. Dictionary Methods  

 o Create a dictionary word_count with these key-value pairs:

  "hello": 5

  "world": 10

  "python": 15

 o Get all keys and print them as a list

 o Get all values and print them as a list

 o Get all key-value pairs and print them

 o Make a copy of the dictionary

 o Clear the original dictionary

 o Print both dictionaries to verify one is empty and one is a copy

In [ ]:
# 4. Dictionary Methods

word_count = {
    "hello" : 3,
    "world" : 10,
    "python" : 15
}

keys = list(word_count.keys())
print("Keys as a list:",keys)

values = list(word_count.values())
print("Values as a list:",values)

items = list(word_count.items())
print("key-value pairs:",items)

word_count_copy = word_count.copy()

word_count.clear()

print("Original Dictionary after clear():",word_count)
print("Copy of Dictionary:",word_count_copy)

Keys as a list: ['hello', 'world', 'python']
Values as a list: [3, 10, 15]
key-value pairs: [('hello', 3), ('world', 10), ('python', 15)]
Original Dictionary after clear(): {}
Copy of Dictionary: {'hello': 3, 'world': 10, 'python': 15}

**Shopping Discount Calculator**

Tasks
1. Set up the initial variables:

 o purchase_amount: The total cost of items in the shopping cart

 o is_loyalty_member: Boolean (True/False) indicating if the customer is a
   loyalty member

 o day_of_week: A string with the current day (e.g., "Monday", "Tuesday", etc.)
  
 o is_holiday_season: Boolean indicating if it's currently a holiday shopping
season

In [ ]:
# Step 1: Set up the initial variables
purchase_amount = 120.00
is_loyalty_member = True
day_of_week = "Saturday"
is_holiday_season = True

# Store the original amount before applying discounts
original_amount = purchase_amount

# Initialize total discount
total_discount = 0.0

2. Apply discount rules using if statements:  
 o If purchase amount is greater than $100, apply a 10% discount

 o If purchase amount is greater than 50 (but less than or equal to $100),
apply a 5% discount

 o If the customer is a loyalty member, apply an additional 5% discount

 o If it's a weekend (Saturday or Sunday), apply an additional 2% discount

 o If it's a holiday season, apply an additional 8% discount

3. Calculate and display:  
 o The original purchase amount

 o Each discount that was applied and its amount

 o The final price after all discounts

In [ ]:
# Step 2: Apply discount rules using if statements

# Discount based on purchase amount
if purchase_amount > 100:
    discount = purchase_amount * 0.10  # 10% discount
    print("10% Discount for purchase over $100 applied: $", round(discount, 2))
    total_discount += discount
elif purchase_amount > 50:
    discount = purchase_amount * 0.05  # 5% discount
    print("5% Discount for purchase over $50 applied: $", round(discount, 2))
    total_discount += discount

# Loyalty member discount
if is_loyalty_member:
    loyalty_discount = purchase_amount * 0.05  # Additional 5% discount
    print("5% Loyalty Member Discount Applied: $", round(discount, 2))
    total_discount += loyalty_discount

# Weekend discount
if day_of_week == "Saturday" or day_of_week == "Sunday":
    weekend_discount = purchase_amount * 0.02  # Additional 2% discount
    print("2% Weekend Discount Applied: $", round(discount, 2))
    total_discount += weekend_discount

# Holiday season discount
if is_holiday_season:
    holiday_discount = purchase_amount * 0.08  # Additional 8% discount
    print("8% Holiday Discount Applied: $", round(discount, 2))
    total_discount += holiday_discount

# Step 3: Calculate final price and display summary
final_price = purchase_amount - total_discount

print("\n======================")
print("Original Purchase Amount: $", round(original_amount, 2))
print("Total Discount Applied:   $", round(total_discount, 2))
print("Final Price After Discount: $", round(final_price, 2))

10% Discount for purchase over $100 applied: $ 12.0
5% Loyalty Member Discount Applied: $ 12.0
2% Weekend Discount Applied: $ 12.0
8% Holiday Discount Applied: $ 12.0

======================
Original Purchase Amount: $ 120.0
Total Discount Applied:   $ 30.0
Final Price After Discount: $ 90.0

**For Loop Assignment - Number Patterns**

Write a Python program that generates the following patterns using for loops:

Pattern 1: Counting Numbers

 o Print numbers from 1 to 10 on a single line.

In [ ]:
# Pattern 1: Counting Numbers
for i in range(1,11):
  print(i,end=" ") # end=" " keeps the numbers on the same line

1 2 3 4 5 6 7 8 9 10

Pattern 2: Multiplication Table  
 Create a multiplication table for the number 5 (from 1 to 10).

In [ ]:
# Pattern 2: Multiplication Table
print("Multiplication Table for 5:")
for i in range(1,11):
  print(f" 5 x {i} = {5 * i}")

Multiplication Table for 5:
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50

**While Loop Assignment - Interactive Game**

Write a Python program that:
1. Sets a "secret number" (you can choose any number between 1 and 50)
2. Asks the player to guess the number
3. Tells the player if their guess is too high or too low
4. Keeps asking until the player guesses correctly
5. Keeps track of how many guesses it took

In [ ]:
# Secret Number Guessing Game
secret_number = 24  # (you can choose any number between 1 and 50)
guess = None
guess_count = 0

print("Welcome to the Secret Number Guessing Game!")
print("Guess the secret number between 1 to 50")

while guess != secret_number:
  guess = int(input("Enter your guess:"))
  guess_count += 1

  if guess < secret_number:
    print("Too low! Try again.")
  elif guess > secret_number:
    print("Too high! Try again.")
  else:
    print(f"Congratulations! You guessed the secret number {secret_number} correctly in {guess_count} attempts.")

Welcome to the Secret Number Guessing Game!
Guess the secret number between 1 to 50
Enter your guess:10
Too low! Try again.
Enter your guess:20
Too low! Try again.
Enter your guess:30
Too high! Try again.
Enter your guess:25
Too high! Try again.
Enter your guess:24
Congratulations! You guessed the secret number 24 correctly in 5 attempts.

**Student Grade Management System**

Create a Python program that does the following:
1. Create a list to store information about students

2. Each student should be represented as a dictionary with the following keys:

 o name: The student's full name

 o id: A unique student ID number

 o grades: Another dictionary containing course names as keys and grades as
values

3. Your program should:  

 o Add at least 3 students to the list

 o Add grades for at least 3 courses for each student

 o Display all students with their grades

 o Calculate and display the average grade for each student

 o Find and display the student with the highest average grade

 o List all students with an average grade above 80

 o Calculate and display the average grade for a specific course

 o Add a new student to the system

In [ ]:
# Step 1: Create a list to store student information
students = [
    {
        "name": "Alice Johnson",
        "id": 1,
        "grades": {
            "Math": 85,
            "Science": 90,
            "English": 78
        }
    },
    {
        "name": "Bob Smith",
        "id": 2,
        "grades": {
            "Math": 92,
            "Science": 88,
            "English": 95
        }
    },
    {
        "name": "Charlie Brown",
        "id": 3,
        "grades": {
            "Math": 74,
            "Science": 81,
            "English": 69
        }
    }
]

# Step 2: Display all students with their grades
print("\nAll Students and Their Grades:")
for student in students:
    print(f"Name: {student['name']}, ID: {student['id']}, Grades: {student['grades']}")

# Step 3: Calculate and display the average grade for each student
print("\nAverage Grades for Each student:")
for student in students:
    grades = student['grades'].values()
    avg = sum(grades) / len(grades)
    print(f"Name: {student['name']}, Average Grade: {round(avg, 2)}")

# Step 4: Find and display the student with the highest average grade
top_student = None
highest_avg = 0  # Variable name changed for clarity

for student in students:
    grades = student['grades'].values()
    avg = sum(grades) / len(grades)
    if avg > highest_avg:
        highest_avg = avg
        top_student = student  # Moved inside the if-block to fix the bug

print(f"\nTop Student: {top_student['name']} with Average Grade: {round(highest_avg, 2)}")

# Step 5: List all students with an average grade above 80
print("\nStudents with Average Grade Above 80:")
for student in students:
    grades = student['grades'].values()
    avg = sum(grades) / len(grades)
    if avg > 80:
        print(f"Name: {student['name']} - Average Grade: {round(avg, 2)}")

# Step 6: Calculate and display the average grade for a specific course
course_name = "Math"
total = 0
count = 0

for student in students:
    if course_name in student['grades']:
        total += student['grades'][course_name]
        count += 1

if count > 0:
    course_avg = total / count
    print(f"\nAverage Grade for {course_name}: {round(course_avg, 2)}")
else:
    print(f"\nNo data found for course: {course_name}")

# Step 7: Add a new student to the system
new_student = {
    "name": "Diana Green",
    "id": 4,
    "grades": {
        "Math": 88,
        "Science": 79,
        "English": 92
    }
}

students.append(new_student)

print(f"\nNew Student {new_student['name']} added successfully!")

# Final display of all students data
print("\nUpdated Student List:")
for student in students:
    print(f"Name: {student['name']}, ID: {student['id']}, Grades: {student['grades']}")

All Students and Their Grades:
Name: Alice Johnson, ID: 1, Grades: {'Math': 85, 'Science': 90, 'English': 78}
Name: Bob Smith, ID: 2, Grades: {'Math': 92, 'Science': 88, 'English': 95}
Name: Charlie Brown, ID: 3, Grades: {'Math': 74, 'Science': 81, 'English': 69}

Average Grades for Each student:
Name: Alice Johnson, Average Grade: 84.33
Name: Bob Smith, Average Grade: 91.67
Name: Charlie Brown, Average Grade: 74.67

Top Student: Bob Smith with Average Grade: 91.67

Students with Average Grade Above 80:
Name: Alice Johnson - Average Grade: 84.33
Name: Bob Smith - Average Grade: 91.67

Average Grade for Math: 83.67

New Student Diana Green added successfully!

Updated Student List:
Name: Alice Johnson, ID: 1, Grades: {'Math': 85, 'Science': 90, 'English': 78}
Name: Bob Smith, ID: 2, Grades: {'Math': 92, 'Science': 88, 'English': 95}
Name: Charlie Brown, ID: 3, Grades: {'Math': 74, 'Science': 81, 'English': 69}
Name: Diana Green, ID: 4, Grades: {'Math': 88, 'Science': 79, 'English': 92}